html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body{
    margin:0;
    overflow-x: hidden;
}
header {
    position: sticky;
    top: 0;
    padding: 0.2%;
    width: 100%;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    z-index: 100;
}
nav{
    padding: 10px;
    text-align: center;
}
nav a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 3.5%;
}